*{
	box-sizing: border-box;
/*	border: 1px solid red;*/
}

body{
	background-color: #E5E5E5;
	margin: 0;
}

h1{
	color: #0A3871;
	font-weight: 900;
	font-family: 'Roboto', sans-serif;
	font-size: 2.1rem;
	margin: 0;
	padding: 10px 0 0 0;
	margin-left: 10px;
}

#mensaje::-webkit-input-placeholder { color: #0A3871; } 
#mensaje:-moz-placeholder { /* Firefox 18- */ color: #0A3871; } 
#mensaje::-moz-placeholder { /* Firefox 19+ */ color: #0A3871; } 
#mensaje:-ms-input-placeholder { color: #0A3871; }

main{
	display: flex;
	justify-content: space-around;
	height: 560px;
	padding: 20px 0px 20px 0px;
	margin: 0;
	padding: 0;
	position: relative;
}

#mensaje{
	font-family: 'Roboto', sans-serif;
}

main .container-frm{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main .container-frm #mensaje{
	padding: 10px 5px 10px 5px;
	background-color: transparent;
	border: none;
	font-size: 1.5rem;
	color: #0A3871;
	margin: 20px 0 0 0;
}
.ocultar{
	visibility: hidden;
}
.danger{
	display: flex;
	justify-content: start;
	margin-bottom: 10px;
	font-size: 12px;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
}
.danger img{
	margin-right: 6px;
}

.toy{
	width: 250px;
	height: 250px;
}

/* QUITAR EL BORDE DE L INPUT ACTIVO */
main .container-frm #mensaje:focus{
	outline: none;
}

.btn{
	padding: 24px;
	gap: 8px;
	width: 328px;
	height: 67px;
	border-radius: 24px;
	border: none;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.btn:hover{
	cursor: pointer;
}

#encriptar{
	background-color: #0A3871;
	color: #ffffff;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	text-align: center;
	border: 1px solid #D8DFE8;
}

#desencriptar{
	background-color: #D8DFE8;
	color: #0A3871;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	text-align: center;
	border: 1px solid #0A3871;
}

.container-respuesta{
	background-color: #ffffff;
	height: auto;
	border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.container-respuesta .vacio p:first-child{
	font-weight: bold;
	font-size: 28px;
}
.container-respuesta .vacio p:last-child{
	font-weight: 200;
	color: #0A3871;
	font-size: 16px;
}
.vacio{
	font-family: 'Inter', sans-serif;
	color: #343A40;
	padding: 20px;
	margin: 20px;
}

#mostrar{
	border: none;
	width: 400px;
	height: 480px;
	font-size: 24px;
	line-height: 36px;
	font-family: 'Inter', sans-serif;
	color: #495057;
	margin: 16px;
	max-width: 90%;
	display: none;
}

#mostrar:focus{
	outline: none;
}

.copy{
	color: #0A3871;
	border: 1px solid #0A3871;
	background-color: white;
	font-size: 16px;
	font-family: 'Inter',sans-serif;
	margin-bottom: 10px;
	display: none; 
}

footer{
	padding: 40px;
	margin: 50px 0 0 0;
	background-color: #0A3871;
	width: 100%;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	position: relative;
}

footer p:first-child{
	font-weight: 900;
	font-size: 18px;
}

@media (min-width: 1300px){
	.container-respuesta{
		right: -60px;
	}
}
@media (max-width: 1150px){
	.btn{
		padding: 20px;
		gap: 8px;
		width: 300px;
		height: 60px;
		border-radius: 24px;
	}
}
@media (max-width:1024px){
	main .container-frm div{
		display: flex;
	    flex-direction: column;
    	justify-content: center;
    	align-items: center;
	}
	main .container-frm div button{
		margin-bottom: 16px;
	}
}
@media (max-width:768px){
	main{
		flex-direction: column;
		display: block;
		height: 900px;
	}
	.toy{
		display: none;
	}
	#mostrar{
		max-height: 400px;
		font-size: 24px;
		color: #495057;
		width: 100%;
	}
	main .container-frm div{
		margin: 0 auto;
		display: block;
	}
	main .container-frm #mensaje{
		margin-left: 10px;
		max-width: 700px;
		height: 300px;
	}

	.container-respuesta{
		margin: 0 auto;
		margin-top: 20px;
		box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
		width: 95%;
/*		height: 360px;*/
	}

	.vacio p:first-child{
		font-weight: 900;
		font-size: 25px !important;
	}
}

@media (max-width: 640px){
	main .container-frm div{
		display: flex;
		flex-direction: column;
	}
	main{
		height: 1000px;
	}
}